.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-body-color: yellow;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    /* interpolate color between yellow and red based on first color brightness */
    -fx-body-color: ladder(#444, yellow 0%, red 100%);
}

.spinner .increment-arrow-button:hover:pressed,
.spinner .decrement-arrow-button:hover:pressed,
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed {
    /* interpolate color between yellow and red based on first color brightness */
    -fx-body-color: ladder(#AAA, yellow 0%, red 100%);
}

.slider .track {
    -fx-pref-height:20;
    -fx-progress-color: blue;
}

.slider:vertical .track {
    -fx-pref-width:20;
-fx-border-color: blue}

.slider .thumb {
    -fx-pref-height: 20;
    -fx-pref-width: 20;
    -fx-border-color: green;
}